.title {
    color: #8B0000;
    font-size: 4rem;
    font-weight: bold;
}

.title-banner {
    background-color: #90EE90;
    padding: 20px;
    text-align: center;
    position: relative;
    top: 0;
    width: 100%;
}

.page-title {
    color: #8B0000;
    text-align: center;
}

.nav-bg {
    background-color: #90EE90;
}

.nav-btn {
    color: white;
    background-color: #8B0000
}

.footer-bg {
    background-color: #90EE90;
}

.footer-text {
    color: #8B0000;
}

.card {
    border: none;
    background-color: transparent;
}