
{% extends "base.html" %}

{% block content %}

<!-- Start of about.html content -->


    <h1 class="title">About the Site</h1>

    <p>Welcome to this County Cricket Blog site. A place for lovers of this wonderful game to come together and share their experiences of county cricket. To join our community simply create an account and the post and comment to your hearts content. Always keep it kind, our only rival here is the english weather.</p>

<!-- End of index.html content -->
{% endblock %}
