
{% extends "base.html" %}

{% block content %}

<!-- Start of index.html content -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>County Cricket Blog</title>
</head>

<body>
    <h1 class="title">Community Posts</h1>

    {% for post in object_list %}
    <h2>
        <a href="{% url 'post_detail' post.slug %}" class="post-link">{{post.title}}</a>
    </h2>
    <p>{{post.stadium}}</p>
    <p>{{post.visitor}}</p>
    <p>{{post.competition}}</p>
    <p>Author: {{post.author}}</p>
    {% endfor %}

    <ul>
        {% if page_obj.has_previous %}
        <li>
            <a href="?page={{ page_obj.previous_page_number }}"
              class="page-link">&laquo; PREV</a>
        </li>
        {% endif %}
        {% if page_obj.has_next %}
        <li>
            <a href="?page={{ page_obj.next_page_number }}"
              class="page-link">NEXT &raquo;</a>
        </li>
        {% endif %}
    </ul>
</body>

</html>
<!-- End of index.html content -->
{% endblock %}
